version: "3.9"

services:
   nginx:
      image: nginx:latest
      ports:
         - "80:80"
      volumes:
         - ./nginx.conf:/etc/nginx/conf.d/default.conf
      depends_on:
         - frontend
         - backend

   frontend:
      build: ./frontend
      expose:
         - "8081"

   backend:
      build: ./backend
      expose:
         - "8080"
      environment:
         MONGO_URL: mongodb://admin:admin123@mongodb:27017/tutorialdb?authSource=admin
      depends_on:
         - mongodb

   mongodb:
      image: mongo:7
      environment:
         MONGO_INITDB_ROOT_USERNAME: admin
         MONGO_INITDB_ROOT_PASSWORD: admin123
      volumes:
         - mongo_data:/data/db

volumes:
   mongo_data:
